apiVersion: v1
kind: Service
metadata:
  name: "frontend-{{ app_version }}"
  labels:
    app: "frontend-{{ app_version }}"
spec:
  ports:
  - name: "frontend-{{ app_version }}"
    port: 8080
    targetPort: 8080
  - name: frontend-ssl
    port: 8443
    targetPort: 8443
  selector:
    app: "frontend-{{ app_version }}"
