apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "mariadb-{{ app_version }}"
  labels:
    version: "{{ app_version }}"
    app: "mariadb-{{ app_version }}"
spec:
  serviceName: "mariadb-{{ app_version }}"
  replicas: 1
  selector:
    matchLabels:
      app: "mariadb-{{ app_version }}"
  template:
    metadata:
      labels:
        app: "mariadb-{{ app_version }}"
    spec:
      containers:
      - name: "mariadb-{{ app_version }}"
        image: mariadb
        ports:
        - containerPort: 3306
          name: mariadb-port
        env:
        - name: MARIADB_ROOT_PASSWORD
          value: password
        - name: MARIADB_USER
          value: carinfo
        - name: MARIADB_PASSWORD
          value: CarInfoPass
        - name: MARIADB_DATABASE
          value: carinfo
        volumeMounts:
        - name: "datadir-{{ app_version }}"
          mountPath: /var/lib/mysql/
  volumeClaimTemplates:
  - metadata:
      name: "datadir-{{ app_version }}"
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 500M
