apiVersion: apps/v1
kind: Deployment
metadata:
  name: "mariadb-{{ app_version }}"
  labels:
    version: "{{ app_version }}"
    app: "mariadb-{{ app_version }}"
spec:
  selector:
    matchLabels:
      app: "mariadb-{{ app_version }}"
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: "mariadb-{{ app_version }}"
    spec:
      containers:
      - image: mariadb:latest
        name: "mariadb-{{ app_version }}"
        env:
        - name: MARIADB_ROOT_PASSWORD
          value: password
        - name: MARIADB_USER
          value: carinfo
        - name: MARIADB_PASSWORD
          value: CarInfoPass
        - name: MARIADB_DATABASE
          value: carinfo
        ports:
        - containerPort: 3306
          name: mariadb
        volumeMounts:
        - name: mariadb-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mariadb-persistent-storage
        persistentVolumeClaim:
          claimName: "mariadb-pv-claim-{{ app_version }}"
